body
{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
}
main
{
    display: flex;
    justify-content: center;
}
main > form
{
    width: 20%;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px 40px;
}
main > form > #imgcont
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
main > form > #imgcont >img
{
    width: 50%;
}
input, button, a
{
    display: block;
}
main > form > input
{
    margin-bottom: 5px;
    width: 97%;
    height: 20px;
    border-radius: 3px;
    border: 2px solid lightgray;
    padding-left: 5px;
}
main > form > button
{
    color: white;
    font-size: 15px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(52, 180, 227);
    border-radius: 10px;
}
main > form > a
{
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 20px;
}
main > form > #divline
{
    margin-top: 20px;
    position: relative;
}
main > form > #divline > h3
{
    position: absolute;
    top: -1751%;
    left: 40%;
    width:20%;
    text-align: center;
    background-color: white;
}